apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: velero-minio-credentials
  namespace: velero
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: homelab-test-5-ig-k
        envSlug: prod
        secretsPath: /backups

  managedSecretReference:
    secretName: velero-minio-credentials
    secretNamespace: velero
    secretType: Opaque
    creationPolicy: Owner

  # Template for formatting the secret data
  secretTemplate:
    type: Opaque
    data:
      cloud: |
        [default]
        aws_access_key_id={{ .MINIO_ACCESS_KEY }}
        aws_secret_access_key={{ .MINIO_SECRET_KEY }}
