apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homeassistant
  namespace: apps
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    gethomepage.dev/enabled: "true"
    gethomepage.dev/name: "Home Assistant"
    gethomepage.dev/description: "Home automation"
    gethomepage.dev/group: "Home Services"
    gethomepage.dev/icon: "home-assistant.png"
    gethomepage.dev/pod-selector: "app=homeassistant"
spec:
  ingressClassName: traefik
  tls:
  - hosts:
    - homeassistant.shreck.co.uk
    secretName: homeassistant-tls
  rules:
  - host: homeassistant.shreck.co.uk
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: homeassistant
            port:
              number: 8123
