# Restic configuration for Plex backups
export RESTIC_REPOSITORY="{{ restic_repository }}"
export RESTIC_PASSWORD_FILE="/etc/restic/password.txt"
export AWS_ACCESS_KEY_ID="{{ minio_access_key }}"
export AWS_SECRET_ACCESS_KEY="{{ minio_secret_key }}"
