apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: homepage-api-keys
  namespace: apps
spec:
  hostAPI: https://app.infisical.com/api
  authentication:
    universalAuth:
      credentialsRef:
        secretName: universal-auth-credentials
        secretNamespace: infisical-operator-system
      secretsScope:
        projectSlug: homelab-test-5-ig-k
        envSlug: prod
        secretsPath: /apps/homepage
  managedSecretReference:
    secretName: homepage-api-keys
    secretNamespace: apps
    secretType: Opaque
    creationPolicy: Owner
