apiVersion: apps/v1
kind: Deployment
metadata:
  name: transmission
  namespace: media
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
    spec:
      containers:
      - name: transmission
        image: linuxserver/transmission:latest
        ports:
        - name: web
          containerPort: 9091
        - name: peer-tcp
          containerPort: 51413
        - name: peer-udp
          containerPort: 51413
          protocol: UDP
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: "Europe/London"
        - name: USER
          value: "admin"
        - name: PASS
          value: "changeme"
        volumeMounts:
        - name: config
          mountPath: /config
        - name: downloads
          mountPath: /downloads
          subPath: incomplete
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 1Gi
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: transmission-config
      - name: downloads
        nfs:
          server: 10.20.0.100
          path: /mnt/Taranaki/Tarriance/hopuhopu_katoa
---
apiVersion: v1
kind: Service
metadata:
  name: transmission
  namespace: media
spec:
  type: ClusterIP
  ports:
  - name: web
    port: 9091
    targetPort: 9091
  selector:
    app: transmission
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: transmission-config
  namespace: media
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: mayastor-1
  resources:
    requests:
      storage: 1Gi